/* ==========================================================================
   It looks like a good place to put your CSS.
   ========================================================================== */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.form-group-inline {
    display: flex;
}

.form-group-inline input {
    flex: 1;
}

.form-group-inline .btn {
    width: 130px;
}
